* {
  box-sizing: border-box;
}

:root {
  background-color: rgba(255, 228, 196, 0.756);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
